<p id="notice"><%= notice %></p>

<p>
  <%= @thumbnail.title %>
</p>

<p>
  <%= @thumbnail.body %>
</p>

<p>
  <%= image_tag @thumbnail.main_image %>
</p>

<p>
  <%=  @thumbnail.thumb_image %>
</p>

<%= link_to 'Edit', edit_thumbnail_path(@thumbnail) %> |
<%= link_to 'Back', thumbnails_path %>
